/*========================================================================*/
/*-------- Skill Sets Barline Start --------*/
.skillElements {
    padding: 20px 0px;
}
.skillElements h6{
    color: turquoise;
}
.font-weight-bold {
    font-weight: 500 !important;
}
.justify-content-between {
      justify-content: space-between !important;
}
.progress {
    height: 10px;
    margin-top: 5px;
    border-radius: 10px;
}
.progress .progress-bar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    transition: 2s;
}
@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}
/*-------- Skill Sets Barline End --------*/
/*========================================================================*/

/*========================================================================*/
/*-------- Blinking button for Student Content Start --------*/
.btn-play {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    margin-left: 18px;
    border-left: 16px solid #0BCEAF;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}
/*-------- Blinking button End --------*/
/*========================================================================*/